* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
.container {
    width: 940px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    @media screen and (max-width: 992px) {
        width: 720px;
        padding: 0 40px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 30px;
        margin-top: 30px;
    }
}

.for-desc, .for-tab, .for-mob {
    display: none;
}
.for-desc {
    @media screen and (min-width: 992px) {
        display: block;
    }
} 
.for-tab {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        display: block;
    }
} 
.for-mob {
    @media screen and (max-width: 768px) {
        display: block;
    }
}