@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansBold/OpenSansBold.eot?") format("eot"),
		 url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
         url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?") format("eot"),
		 url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
         url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?") format("eot"),
		 url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
         url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansLight/OpenSansLight.eot?") format("eot"),
		 url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
         url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-Bold/Oswald-Bold.eot?") format("eot"),
		 url("../fonts/Oswald-Bold/Oswald-Bold.woff") format("woff"),
         url("../fonts/Oswald-Bold/Oswald-Bold.ttf") format("truetype");
    font-weight: 600;
}
