.title-grid {
  font-size: 22px;
  font-family: $font-family;
  color: $black;
  font-weight: 700;
  line-height: 1.477;
  text-align: left;
  margin-bottom: 20px;
  display: block;
  @media screen and (max-width: 992px) {
    margin-bottom: 25px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}
.grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @media screen and (max-width: 768px) {
        padding: 0 30px;
        display: block;
    }
    .item {
       
        @media screen and (min-width: 992px) {
            width: calc(33.3333% - 13.3333px);
            margin-bottom: 20px;
            &:not(:nth-child(3n)) {
                margin-right: 20px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: calc(50% - 20px);
            margin-bottom: 40px;
            &:not(:nth-child(2n)) {
                margin-right: 40px;
            }
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
        }
        &__img {
            width: 100%;
            position: relative;
            font-size: 0;
            display: block;
            &:hover {
                box-shadow: 0 0 15px rgba(0,0,0,0.5);
            }
            img {
                width: 100%;;
            }
        }
        &__price {
            background-color: rgb(138, 230, 207);
            position: absolute;
            bottom: 20px;
            right: 0;
            padding: 0 10px;
            @media screen and (max-width: 992px) {
                width: 100%;
                bottom: 0;
                background-color: rgba(138, 230, 207, 0.8);
                text-align: center;
            }
            span {
                font-size: 16px;
                font-family: $font-family;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                color: $black;
                display: inline-block;
                @media screen and (max-width: 992px) {
                    font-size: 22px;
                }
                @media screen and (max-width: 992px) {
                    font-size: 18px;
                }
            }
            &.sale {
                span:first-child {
                    text-decoration: line-through;  
                    display: inline-block;
                    margin-right: 12px;   
                    @media screen and (max-width: 992px) {
                        display: none;
                    }           
                }
                span:last-child {
                    color: $sale-price-color;
                }
            }
        }
        &__title {
            color: $text-color;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: 10px;
            display: block;
            text-align: center;
            @media screen and (max-width: 992px) {
                margin-top: 15px;
            }
            @media screen and (max-width: 992px) {
                margin-top: 10px;
            }
        }
    }
    .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
    }
    .owl-prev {
        left: 20px;
        transform: translate3d(-100%, -50%, 0);
        @include sprite($left);
    } 
    .owl-next {
        right: 20px;
        transform: translate3d(100%, -50%, 0);
        @include sprite($right);
    }
}
