.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
    }

    &__image {
        margin-right: 55px;
        width: calc(50% - 26px);
        text-align: center;
        display: inline-block;
        @media screen and (max-width: 992px) {
            margin-right: 20px;
            width: calc(50% - 10px);
            position: relative;
        }
        @media screen and (max-width: 768px) {
            margin-right: 0;
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    &__info {
        width: calc(50% - 26px);
        display: inline-block;
        @media screen and (max-width: 992px) {
            width: calc(50% - 10px);
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__title {
        font-size: 24px;
        font-family: "Oswald", sans-serif;
        color: $black;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.25;
        text-align: left;
        margin-bottom: 15px;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &__id {
        font-size: 10px;
        font-family: $font-family;
        color: rgba(44, 48, 61, 0.702);
        margin-bottom: 15px;
        display: block;
        @media screen and (max-width: 992px) {
            margin-bottom: 10px;
        }
    }
    &__price {
        margin-bottom: 20px;
        @media screen and (max-width: 992px) {
            margin-bottom: 10px;
        }
        span {
            font-size: 24px;
            font-family: $font-family;
            font-weight:700;
            text-transform: uppercase;
            text-align: left;
            color: $black;        
        }
        &.sale {
            span:first-child {
                text-decoration: line-through;  
                display: inline-block;
                margin-right: 20px;              
            }
            span:last-child {
                color: $sale-price-color;
            }
        }
    }
    &__rating {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 15px;
        @media screen and (max-width: 992px) {
            margin-bottom: 15px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 25px;
        }
        .star {
            display: inline-block;
        }
        .star:not(:last-child) {
            @include sprite($star-active);
        }
        .star:last-child {
            @include sprite($star-no-active);
        }
    }
    &__share {
        display: none;
        @media screen and (max-width: 992px) {
            position: absolute;
            top: 15px;
            left: 55px;
            display: flex;
            flex-direction: column;
        }
        @media screen and (max-width: 768px) {
            position: static;
            top: auto;
            left: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 25px;
        }
        a {
            border-style: solid;
            border-width: 2px;
            border-color: rgb(44, 135, 206);
            border-radius: 50%;
            background-color: rgba(83, 101, 210, 0);
            width: 41px;
            height: 41px;
            display: inline-block;
            position: relative;
            margin-right: 10px;
            @media screen and (max-width: 992px) {
                margin-bottom: 10px;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
            i {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
        .facebook {
            i {
                @include sprite($facebook); 
            }
        }
        .twitter {
            i {
                @include sprite($twitter); 
            }
         }
         .pinterest {
            i {
                @include sprite($pinterest); 
            }
         }
         .youtube {
            i {
                @include sprite($youtube); 
            }
         }
    }
    &__tooltip {
        position: relative;
        display: inline-block;
        .product__share {
            display: flex;
        }

        @media screen and (max-width: 992px) {
            display: none;
        }
        .tooltip-text {
            font-size: 18px;
            font-family: $font-family;
            color: $share-it-color;
            font-weight: 700;
            line-height: 0.889;
            cursor: pointer;
        }
        .tooltip-toggle {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            padding: 25px 20px 20px 20px;
            z-index: 2;
            background-image: url(../img/background-tooltip.png);
            background-size: 100% 100%;         
        }
        &.toggle {
            .tooltip-toggle {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
        .tooltip-close {
            display: inline-block;
            border: 0;
            background-color: transparent;
            width: 40px;
            height: 40px;
            cursor: pointer;
            @include sprite($close);  
        }
    }
    
    &__details {
        p {
            font-size: 12px;
            font-family: $font-family;
            color: $text-color;
            line-height: 1.333;
            text-align: left;
            margin-bottom: 10px;
            display: block;
            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }
    &__size {
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
        .text {
            font-size: 14px;
            font-family: $font-family;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2.321;
            text-align: left;
            display: inline-block;
            margin-right: 30px;
            line-height: 40px;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        .size-name {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgb(183, 183, 183);
            font-family: $font-family;
            text-align: center;
            line-height: 40px;
            font-size: 12px;
            font-weight: 700;
            display: inline-block;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 10px;
            }
            &.active {
                box-shadow: 0px 0px 2px 2px rgb(183, 183, 183);
            }
        }
    }
    &__colors {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (max-width: 992px) {
            margin-bottom: 15px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
        .text {
            font-size: 14px;
            font-family: $font-family;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2.321;
            text-align: left;
            margin-right: 30px;
            display: inline-block;
            line-height: 40px;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        ul {
            display: inline-block;
        }
        li {
            list-style: none;
            display: inline-block;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 10px;
            }
            &.ui-state-active {
                box-shadow: 0px 0px 2px 2px rgb(183, 183, 183);
            }
        }
        .color {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: block;
            outline: none;
            &.blue {
                background-color: $blue;
            }
            &.green {
                background-color: $green;
            }
            &.pink {
                background-color: $pink;
            }
            &.purple {
                background-color: $purple;
            }
        }
    }
    &__button {
        background-color: rgb(138, 230, 207);
        font-size: 14px;
        font-family: $font-family;
        color: $black;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.209;
        text-align: center;
        border-radius: 30px;
        border: 0;
        display: inline-block;
        padding: 15px 50px;
        line-height: 1;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }
      
}