// colors
$title-color: rgb(120, 127, 132);
$text-color: rgb(40, 40, 40); 
$sale-price-color: rgb(206, 44, 82);
$share-it-color: rgb(44, 135, 206);
$item-code-color: rgba(44, 48, 61, 0.702);

$black: rgb(44, 48, 61);
$blue: rgb(119, 216, 231);
$green: rgb(150, 199, 149);
$pink: rgb(206, 146, 161);
$purple: rgb(170, 147, 207);

// fonts
$font-family: "OpenSans", sans-serif;