<div class="container">
    <p class="title-grid">You may also like</p>
    <div class="grid owl-carousel" id="grid">
        <div class="item">
            <a href="" class="item__img">
                <img src="img/product1.jpg" alt="For gamers by gamers tee">
                <span class="item__price sale">
                    <span>$29.99</span>
                    <span>$19.99</span>
                </span>
            </a>
            <a href="" class="item__title">
                For gamers by gamers tee
            </a>
        </div>
        <div class="item">
            <a href="" class="item__img">
                <img src="img/product1.jpg" alt="For gamers by gamers tee">
                <span class="item__price">
                    <span>$29.99</span>
                </span>
            </a>
            <a href="" class="item__title">
                For gamers by gamers tee
            </a>
        </div>
        <div class="item">
            <a href="" class="item__img">
                <img src="img/product1.jpg" alt="For gamers by gamers tee">
                <span class="item__price">
                    <span>$29.99</span>
                </span>
            </a>
            <a href="" class="item__title">
                For gamers by gamers tee
            </a>
        </div>
        <div class="item">
            <a href="" class="item__img">
                <img src="img/product1.jpg" alt="For gamers by gamers tee">
                <span class="item__price sale">
                    <span>$29.99</span>
                    <span>$19.99</span>
                </span>
            </a>
            <a href="" class="item__title">
                For gamers by gamers tee
            </a>
        </div>
        <div class="item">
            <a href="" class="item__img">
                <img src="img/product1.jpg" alt="For gamers by gamers tee">
                <span class="item__price">
                    <span>$29.99</span>
                </span>
            </a>
            <a href="" class="item__title">
                For gamers by gamers tee
            </a>
        </div>
        <div class="item">
            <a href="" class="item__img">
                <img src="img/product1.jpg" alt="For gamers by gamers tee">
                <span class="item__price">
                    <span>$29.99</span>
                </span>
            </a>
            <a href="" class="item__title">
                For gamers by gamers tee
            </a>
        </div>
    </div>
</div>