<div class="container product" id="product">
    <p class="product__title for-tab for-mob">For gamers by gamers TEE</p>
    <div class="product__image" id="color1">
        <img src="img/main-product.jpg" alt="">
    </div>
    <div class="product__image" id="color2">
        <img src="img/main-product.jpg" alt="">
    </div>
    <div class="product__image" id="color3">
        <img src="img/main-product.jpg" alt="">
    </div>
    <div class="product__image" id="color4">
        <img src="img/main-product.jpg" alt="">
    </div>
    <div class="product__info">
        <p class="product__title for-desc">For gamers by gamers TEE</p>
        <p class="product__id">Item #: 701642853695</p>
        <div class="product__price sale">
            <span>$29.50</span>
            <span>$19.99</span>
        </div>
        <div class="product__rating">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
        <div class="product__tooltip">
            <p class="tooltip-text">Share it!</p>
            <div class="tooltip-toggle">
                <div class="product__share">
                    <a href="" class="facebook"><i></i></a>
                    <a href="" class="twitter"><i></i></a>
                    <a href="" class="pinterest"><i></i></a>
                    <a href="" class="youtube"><i></i></a>
                </div>
                <button class="tooltip-close"></button>
            </div>
        </div>
        <div class="product__share">
            <a href="" class="facebook"><i></i></a>
            <a href="" class="twitter"><i></i></a>
            <a href="" class="pinterest"><i></i></a>
            <a href="" class="youtube"><i></i></a>
        </div>
        <div class="product__details">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
        <div class="product__size">
            <p class="text">Size:</p>
            <span class="size-name">XS</span>
            <span class="size-name">S</span>
            <span class="size-name active">M</span>
        </div>
        <div class="product__colors">
            <p class="text">Color:</p>
            <ul>
                <li><a href="#color1" class="color blue"></a></li>
                <li><a href="#color2" class="color green"></a></li>
                <li><a href="#color3" class="color pink"></a></li>
                <li><a href="#color4" class="color purple"></a></li>
            </ul>
        </div>
        <button class="product__button">Add to cart</button>
    </div>
</div>